.homeContainer {
  padding: 50px;
}

.dropdownContainer {
  display: flex;
}

.dropdownContainer span {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.tableContainer {
  margin-top: 40px;
}
.loadingBar {
  background-color: #17ad8d;
  z-index: 1;
  order: 0;
  height: 2px;
}
.loading {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes dot-keyframes {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 0.4;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes dot-keyframes {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 0.4;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.loading-dots {
  text-align: center;
  width: 100%;
}

.loading-dots--dot {
  -webkit-animation: dot-keyframes 1.5s infinite ease-in-out;
          animation: dot-keyframes 1.5s infinite ease-in-out;
  background-color: #000;
  border-radius: 10px;
  display: inline-block;
  height: 3px;
  width: 3px;
  margin-left: 3px;
}

.loading-dots--dot:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading-dots--dot:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

