.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f1f2;
}

.cardCustom {
  width: 400px;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 50px 50px 50px;
  border-radius: 20px;
  justify-content: space-between;
  background-color: #ffffff;
}

.inputWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loginContainer .inputWrap .form-control {
  width: 300px;
  margin-top: 10px;
}

.cardCustom h5 {
  color: #3c4043;
  font-weight: 400;
}

.cardCustom .btn-primary {
  background-color: #ffffff;
  border-color: #17ad8d;
  border-radius: 50px;
  color: #17ad8d;
}

.cardCustom .btn-primary:hover {
  color: white;
  background-color: #17ad8d;
  border-color: #17ad8d;
}

.titleText {
  margin-left: 7px;
}
